/aquifer_shots/
/lithic_shots/
/pickdata/
/pickdata_aquifer/
/pickdata_filtered/
/pickdata_lithic/
/pickdata_old1/
/pickdata_old2/
/seismic_data/
/.idea/
/model_cache/
/tmp/
/accepted_params.pkl
/accepted_params_.npy
/accepted_params_1696741111.017015.npy
/pyCREWES/
/erzsol3Py_tests/
/archive/
